<link href="~/Asset/css/templatemo_style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
@using LTCSDL_pro.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<Sach>
@{
    foreach (var item in Model)
    {

        <div class="templatemo_product_box">
            <h1>  @item.TenSach<span>(@item.TacGia.TenTacGia)</span></h1>
            <img style="height:120px; width:100px" src="~/Asset/img/@item.AnhBia" alt="image" />
            <div class="product_info">
                <h3>Giá: @string.Format("{0:0,0}", item.GiaBan) VNĐ</h3>

                <div class="buy_now_button"><a href="/GioHang/GioHang">mua</a></div>
                <div class="detail_button"><a href="/Home/ChiTietSach?MaSach=@item.MaSach">chi tiết</a></div>
                @using (Html.BeginForm("ThemGioHang", "GioHang", new { @iMaSach = item.MaSach, @strURL = Request.Url.ToString() }))
                {

                    <div> <input type="submit" value="Thêm vào giỏ hàng" id="btnThemGioHang" /></div>
                }
            </div>
            <div class="cleaner">&nbsp;</div>
        </div>
    }

}
@*Link Lieen ket*@
<div class="tenTrang"> Trang @(Model.PageCount < Model.PageNumber ?0 : Model.PageNumber)/ @Model.PageCount</div>
    
<div class="PhanTrang">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>
<style>
    .PhanTrang li{
        display:inline;
        margin:20px;
    }
    .tenTrang{
        text-align:center;
    }
    #btnThemGioHang{
        width:120px;
        height:40px;
    }
    h1{
        font-size:13px;

    }
    h3{
        font-size:13px;
    }
    h1{
        width:20%;
    }
    img{
        
    }
    div.product_info{
        width:35%;
    }
    div.templatemo_product_box{
        margin:2px;
    }
</style>
