
@{
    ViewBag.Title = "_MainLayout";
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>LH Book Store</title>
    <link rel="icon" type="image/x-icon" href="~/Asset/images/LOGO/Icon-Sach.jpg" />
    <meta name="keywords" content="web sach" />
    <meta name="description" content="" />
    <link href="~/Asset/css/templatemo_style.css" rel="stylesheet" type="text/css" />
    <link href="~/Asset/css/demo.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/font-awesome.min.css" />


</head>
<body>
    <!--  Free CSS Templates from www.templatemo.com -->
    <div id="templatemo_container">

        <div style="display:flex" id="templatemo_menu">
            <ul>
                <li><a href="/Home/Index" class="current">Trang Chủ</a></li>
                <li><a href="/BookShop/Index">Sách mới</a></li>
                
                <li><a href="#">Contact</a></li>
                <li><input type="text" placeholder="nhập sách cần tìm" /></li>
                <li><button type="submit">tìm</button></li>
            </ul>

            <ul class="login" >
                @if (Session["TaiKhoan"] != null)
                {
                    //kh taiKhoan = (TaiKhoan)Session["TaiKhoan"];
                    <text>Xin chào! </text>
                    @Html.ActionLink("Đăng xuất", "DangNhap", "NguoiDung", null, htmlAttributes: new { @class = "DangNhap" }) // thêm nút đăng xuất
                }
                else
                {
                    @Html.ActionLink("Đăng ký", "DangKy", "NguoiDung", null, htmlAttributes: new { @class = "DangKy" })

                    @Html.ActionLink("Đăng nhập", "DangNhap", "NguoiDung", null, htmlAttributes: new { @class = "DangNhap" })
                }

            </ul>
            @Html.Action("GioHangPartial","GioHang")
            
        </div> <!-- end of menu -->

        <div id="templatemo_header">
            <div id="templatemo_special_offers">
                <p>
                    <span>25%</span> discounts for
                    purchase over $80
                </p>
                <a href="subpage.html" style="margin-left: 50px;">Read more...</a>
            </div>
            <div id="templatemo_new_books">
                <ul>
                    <li>Suspen disse</li>
                    <li>Maece nas metus</li>
                    <li>In sed risus ac feli</li>
                </ul>
                <a href="/BookShop/Index" style="margin-left: 50px;">xem thêm</a>
            </div>
        </div> <!-- end of header -->
        <div id="templatemo_content">

            <div id="templatemo_content_left">
                <div class="templatemo_content_left_section">
                    <h1>Tác Giả</h1>
                    @Html.Action("Main2Partial", "Home")
                </div>
                <div class="templatemo_content_left_section">
                    <h1>Chủ Đề</h1>
                    @Html.Action("Main1Partial", "Home")
                </div>
            </div> <!-- end of content left -->

            @RenderBody()

            <div class="cleaner_with_height">&nbsp;</div>
        </div> <!-- end of content -->

        <div id="templatemo_footer">

            <a href="subpage.html">Home</a> | <a href="subpage.html">Search</a> | <a href="subpage.html">Books</a> | <a href="#">New Releases</a> | <a href="#">FAQs</a> | <a href="#">Contact Us</a><br />
            Copyright © 2024 <a href="#"><strong>Your Company Name</strong></a>
            <!-- Credit: www.templatemo.com -->
        </div>
        <!-- end of footer -->
        <!--  Free CSS Template www.templatemo.com -->
    </div> <!-- end of container -->
    <!-- templatemo 086 book store -->
    <!--
    Book Store Template
    http://www.templatemo.com/preview/templatemo_086_book_store
    -->
</body>
</html>
<style>
    ul.login{
        margin:10px;
        padding:10px;
    }
    #templatemo_menu ul{
        margin:5px;
    }
</style>

